.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
footer {
  background-image: url("./coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: 100% ;
  height:199px ;
  width: 375px;
}
